header {
	background-color: $header-bg;
	color: $header-color;
}

.nav {

}
.nav-item {
	&.active > .nav-link {
		border-bottom: 4px solid #fff;
	}
}
.nav-link {
	color: #fff;
}

// logo
.logo {
	img {
		width: 200px;
	}
}