header {
	background-color: $header-bg;
	color: $header-color;
}

.navbar {
	ul {
		padding: 0;
		list-style: none;
	}
}
.nav {

}
.nav-item {
	&.active > .nav-link {
		border-bottom: 4px solid #fff;
	}
}
.nav-link {

}

// logo
.logo {
	img {
		width: 200px;
	}
}