<!doctype html>

<html lang="en">
    <head>
        {{>headMeta}}
        {{>headSmallStyles}}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header -->
        {{>header}}
        {{!-- End of Header --}}

        <!-- Body -->
        <main class="main">
            {{>body}}
        </main>
        {{!-- End of Body --}}

        <!-- Footer -->
        {{>footer}}
        {{>footerSmallScripts}}
        {{>footerSmallStyles}}
        {{!-- End of Footer --}}
    </body>
</html>
