<footer class="main-footer">
	<div class="main-footer__top">
		<div class="container">
			<p>footer</p>
		</div>
	</div>
	<div class="main-footer__middle"></div>
	<div class="main-footer__bottom">
		<div class="container">
			<p>copyright</p>
		</div>
	</div>
</footer>
