<footer>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
	<p>footer small</p>
</footer>

{{>footerScripts}}
{{>footerStyles}}