@import 'bootstrap/custom';

$main-color-1: #232323;
$main-color-2: #f2f3f4;

// Header
$header-bg: red;
$header-color: #fff;

// Main
$main-bg: #fff;
// $main-color: $body-color;

// Footer
// $footer-bg: $main-color-1;
$footer-color: #fff;