{{!-- {{{json pages}}} --}}
<nav class="main-navigation navbar navbar-dark bg-inverse">

{{!-- 	<a class="navbar-brand" href="#">
    	<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  	</a>
 --}}

	<ul class="main-navigation__nav nav navbar-nav level-1 collapse navbar-toggleable-md" id="mainNavbar">
		{{!-- using JS handlebar helper "helper-menu.js" --}}
		{{menu}}
	</ul>
</nav>
