<button class="navbar-toggler hidden-lg-up collapsed" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler__span">Button</span>
</button>