._opened-mobile-menu {
    position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#fff, .7);
		z-index: 1;
		height:100vh;
	}
}