// logo
.logo {
	@media (max-width: 991px) {
		display: none;
	}

	img {
		@media (max-width: 991px) {
			width: 100px;
		}

		@media (min-width: 992px) {
			margin-top: 1rem;
			margin-bottom: 1rem;
			width: 200px;
		}
	}
}