<footer>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
	<p>Small footer</p>
</footer>
